@font-face {
  font-family: MULLER;
  src: url("../fonts/muller/MullerBold.eot?") format("eot"), url("../fonts/muller/MullerBold.woff2") format("woff2"), url("../fonts/muller/MullerBold.woff") format("woff"), url("../fonts/muller/MullerBold.ttf") format("truetype"), url("../fonts/muller/MullerBold.svg#Samplino") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  overflow: hidden;
  font-family: MULLER;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
.header {
  background: url(../images/headerBg1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 850px;
}
.header .header-inner img {
  max-width: 100%;
  margin: 11px 0 33px 0;
}
.header .header-icon {
  padding-top: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.header .header-icon a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  font-family: "MULLER";
}
.header .header-text {
  color: #fff;
}
.header .header-text :nth-child(1) {
  font-size: 39px;
  font-weight: bold;
  text-transform: uppercase;
  width: 70%;
}
.header .header-text :nth-child(2) {
  font-size: 22px;
  margin: 22px 0 44px 0;
}
.header .header-info-block {
  text-align: center;
}
.header .header-info-block a {
  background: #fb0275;
  text-decoration: none;
  color: #fff;
  border-radius: 62px;
  padding: 12px 60px;
  font-size: 22px;
}
.header .header-info-block p {
  padding: 33px 0;
  width: 60%;
  text-align: left;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 666px;
  }
  .header .header-icon {
    width: 100%;
  }
  .header .header-inner {
    display: flex;
  }
  .header .header-inner img {
    flex-basis: 50%;
  }
  .header .header-inner ::before {
    content: "";
    position: absolute;
    background: url(../images/headerBottom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: 33px;
    right: 50%;
    width: 20px;
    height: 32px;
    transform: translateX(50%);
  }
  .header .header-text :nth-child(1) {
    width: 78%;
    margin-top: 33px;
  }
  .header .header-info-block a {
    padding: 12px 40px;
  }
  .header .header-info-block p {
    width: 75%;
    font-size: 18px;
  }
  .header .header-info {
    height: 600px;
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .header .header-inner {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    height: 888px;
  }
  .header .header-icon {
    padding-top: 60px;
  }
  .header .header-icon img {
    display: none;
  }
  .header .header-inner {
    margin: 66px auto 0 auto;
    gap: 55px;
  }
  .header .header-inner .header-text-inner {
    flex-basis: 50%;
  }
  .header .header-inner .header-text-inner .header-text :nth-child(1) {
    font-size: 66px;
    width: 65%;
  }
  .header .header-inner .header-text-inner .header-text :nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
  }
  .header .header-inner .header-text-inner .header-info-block {
    display: flex;
  }
  .header .header-inner .header-text-inner .header-info-block a {
    flex-basis: 50%;
    height: 55px;
    margin: 28px 15px 0 0;
    width: 90px;
  }
  .header .header-inner .header-text-inner .header-info-block p {
    flex-basis: 50%;
  }
}
#het {
  display: none;
}

#het:checked ~ .header-info {
  right: 0;
}

.header-info {
  position: absolute;
  width: 100%;
  top: 0;
  right: -100%;
  height: 550px;
  background: #fff;
  transition: 0.5s;
  text-align: center;
}
.header-info ul {
  list-style: none;
  padding: 55px 0;
  line-height: 55px;
}
.header-info .header-x {
  position: absolute;
  right: 22px;
  top: 22px;
}
.header-info p {
  margin-bottom: 50px;
  font-weight: bold;
}
.header-info a {
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid #fb0275;
  padding: 6px 20px;
  color: #fb0275;
  font-weight: bold;
}

@media only screen and (min-width: 1440px) {
  .header-info {
    position: static;
    display: flex;
    background: transparent;
  }
  .header-info img {
    display: none;
  }
  .header-info ul {
    position: absolute;
    top: 10px;
    display: flex;
    left: 25%;
    top: -8px;
    gap: 44px;
    color: #fff;
  }
  .header-info a {
    position: absolute;
    top: 6.3%;
    right: 10%;
    color: #fff;
    border: 2px solid #fff;
  }
  .header-info p {
    position: absolute;
    top: 7%;
    right: 25%;
    color: #fff;
  }
}
.head-block {
  padding: 55px 0;
}
.head-block:nth-child(1) {
  color: #7f38bd;
  font-size: 25px;
  font-weight: bold;
}
.head-block p:nth-child(2) {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-top: 22px;
}
.head-block .head-block-text p {
  color: #5e606a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: 100;
}

@media only screen and (min-width: 1024px) {
  .head-block {
    width: 85%;
    margin: 0 auto;
  }
  .head-block p:nth-child(2) {
    color: #000;
    font-size: 33px;
    font-weight: bold;
    margin-top: 22px;
  }
  .head-block .head-block-text p {
    color: #5e606a;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .head-gl {
    display: flex;
    margin-top: 77px;
  }
  .head-gl .head-block {
    flex-basis: 45%;
    order: 1;
    padding: 0;
  }
  .head-gl .head-block .head-block-text p {
    margin-top: 27px;
  }
  .head-gl .sxema-inner {
    flex-basis: 48%;
    padding: 66px 0 0 0;
  }
}
.sxema-inner {
  position: relative;
  max-width: 300px;
  text-align: center;
  padding: 66px 0;
  height: 711px;
  margin: 0 auto;
}
.sxema-inner p {
  width: 120px;
  color: #5e606a;
}
.sxema-inner .sxema-block {
  z-index: 2;
}
.sxema-inner .sxema-block:nth-child(1) {
  position: absolute;
  top: 0;
  right: 95px;
}
.sxema-inner .sxema-block:nth-child(2) {
  position: absolute;
  top: 175px;
  right: 13px;
}
.sxema-inner .sxema-block:nth-child(3) {
  position: absolute;
  top: 279px;
  left: 10px;
}
.sxema-inner .sxema-block:nth-child(4) {
  position: absolute;
  top: 517px;
  left: 100px;
}
.sxema-inner .sx-ml {
  position: absolute;
  left: 101px;
}
.sxema-inner .sx-tl {
  display: none;
}
.sxema-inner .sx-dl {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sxema-inner {
    max-width: 720px;
    margin: 0 auto;
    height: 600px;
  }
  .sxema-inner p {
    width: 170px;
  }
  .sxema-inner .sxema-block:nth-child(1) {
    position: absolute;
    top: 0;
    right: 380px;
  }
  .sxema-inner .sxema-block:nth-child(2) {
    position: absolute;
    top: 100px;
    right: 0;
  }
  .sxema-inner .sxema-block:nth-child(3) {
    position: absolute;
    top: 190px;
    left: 0;
  }
  .sxema-inner .sxema-block:nth-child(4) {
    position: absolute;
    top: 322px;
    left: 352px;
  }
  .sxema-inner .sx-ml {
    display: none;
  }
  .sxema-inner .sx-tl {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 1440px) {
  .sxema-inner {
    max-width: 720px;
    margin: 0 auto;
    height: 600px;
  }
  .sxema-inner p {
    width: 170px;
  }
  .sxema-inner .sxema-block:nth-child(1) {
    position: absolute;
    top: 0;
    right: 250px;
  }
  .sxema-inner .sxema-block:nth-child(2) {
    position: absolute;
    top: 135px;
    right: 35px;
  }
  .sxema-inner .sxema-block:nth-child(3) {
    position: absolute;
    top: 180px;
    left: 22px;
  }
  .sxema-inner .sxema-block:nth-child(4) {
    position: absolute;
    top: 322px;
    left: 250px;
  }
  .sxema-inner .sx-ml {
    display: none;
  }
  .sxema-inner .sx-tl {
    display: none;
  }
  .sxema-inner .sx-dl {
    display: block;
    position: absolute;
    left: 150px;
  }
}
.uslug {
  background: #faf8fb;
  position: relative;
  padding-bottom: 155px;
  position: relative;
}
.uslug .uslug-num {
  position: absolute;
  color: #faf8fb;
  text-shadow: 0 0 20px #ece9ec;
  font-size: 150px;
  top: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 50px;
}
.uslug .uslug-inner {
  font-weight: bold;
}
.uslug .uslug-inner :nth-child(1) {
  color: #7f38bd;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.uslug .uslug-inner :nth-child(2) {
  font-size: 27px;
  margin: 44px 0;
  z-index: 3;
  position: relative;
  line-height: 33px;
}
.uslug .uslug-inner .uslug-ul li {
  color: #5e606a;
  line-height: 30px;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .uslug {
    padding: 55px 0;
  }
  .uslug::before {
    content: "";
    position: absolute;
    background: url(../images/lines.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
    top: -66px;
    left: 50%;
  }
  .uslug .uslug-num {
    top: 77px;
  }
  .uslug .uslug-inner :nth-child(2) {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .uslug {
    width: 75%;
    margin: 0 auto;
  }
}
.flip-swiper {
  width: 100%;
  padding: 55px 0;
}
.flip-swiper .flip-slide {
  text-align: center;
}
.flip-swiper .flip-slide img {
  width: 90%;
}
.flip-swiper .card-prev {
  bottom: 10px;
  position: absolute;
  left: 50px;
}
.flip-swiper .card-next {
  bottom: 10px;
  position: absolute;
  right: 50px;
}

@media only screen and (min-width: 768px) {
  .flip-swiper .card-prev {
    z-index: 1;
    bottom: 135px;
  }
  .flip-swiper .card-next {
    bottom: 135px;
    z-index: 1;
    right: 500px;
  }
}
@media only screen and (min-width: 1440px) {
  .uslug {
    display: flex;
    gap: 113px;
  }
  .uslug .flip-swiper {
    width: 60%;
  }
  .uslug .flip-swiper p {
    position: absolute;
    right: 140px;
    bottom: -40px;
  }
  .uslug .flip-swiper .card-prev {
    z-index: 1;
    bottom: 10px;
  }
  .uslug .flip-swiper .card-next {
    bottom: 10px;
    z-index: 1;
    right: 377px;
  }
}
.uslug-in {
  display: flex;
  flex-wrap: wrap;
  background: #883eca;
  width: 87.5%;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
  justify-content: space-around;
  padding: 33px 0 25px 0;
  left: 20px;
  align-items: center;
  color: #fff;
  gap: 22px;
}
.uslug-in .uslug-inn-text {
  width: 85%;
  margin: 0 auto;
}
.uslug-in .uslug-inn-text :nth-child(2) {
  font-weight: bold;
}
.uslug-in a {
  background: #fb0275;
  text-decoration: none;
  color: #fff;
  padding: 10px 77px;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .uslug-in {
    bottom: 5px;
    left: 39px;
  }
  .uslug-in .uslug-inn-text {
    width: auto;
    display: flex;
    margin: 0;
    gap: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .uslug-in {
    width: 444px;
    left: 0;
    padding: 33px 0;
  }
  .uslug-in .uslug-inn-text {
    display: block;
    width: 45%;
  }
  .uslug-in a {
    width: 35%;
    padding: 10px 40px;
  }
}
.inter {
  padding: 77px 0;
  position: relative;
  height: 850px;
}
.inter .inter-num {
  position: absolute;
  font-size: 150px;
  text-shadow: 0 0 10px #ece9ec;
  top: 22px;
  left: 44px;
  color: #fff;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.inter .inter-inner :nth-child(1) {
  margin: 22px 0;
  font-weight: bold;
  font-size: 27px;
  z-index: 1;
  position: relative;
}
.inter .inter-inner :nth-child(2) {
  color: #5e606a;
  margin: 50px 0 55px 0;
  line-height: 22px;
}
.inter .inter-inner a {
  text-decoration: none;
  background: #fb0275;
  color: #fff;
  padding: 15px 66px;
  border-radius: 22px;
  z-index: 1;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.inter .inter-photo {
  position: absolute;
  right: 0;
  bottom: 111px;
}
.inter .inter-photo .in-d2 {
  display: none;
}
.inter .inter-photo .in-d3 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .inter {
    padding: 130px 0;
  }
  .inter::before {
    content: "";
    position: absolute;
    background: url(../images/lines.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 130px;
    left: 50%;
    top: 10px;
  }
  .inter .inter-inner {
    width: 70%;
  }
  .inter .inter-inner :nth-child(1) {
    font-size: 35px;
  }
  .inter .inter-inner a {
    padding: 15px 44px;
    display: inline-block;
  }
  .inter .inter-photo {
    bottom: 55px;
  }
  .inter .inter-photo .in-d2 {
    display: block;
  }
  .inter .inter-photo .in-d1 {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .inter .inter-inner {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
  .inter {
    margin-bottom: 100px;
  }
  .inter .inter-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0 0 auto;
  }
  .inter .inter-inner :nth-child(1) {
    width: 70%;
  }
  .inter .inter-inner :nth-child(2) {
    width: 69%;
  }
  .inter .inter-inner a {
    padding: 15px 40px;
    position: absolute;
    bottom: 377px;
    left: 52%;
  }
  .inter .inter-photo {
    bottom: -55px;
    left: -100px;
  }
  .inter .inter-photo .in-d3 {
    display: block;
  }
  .inter .inter-photo .in-d2 {
    display: none;
  }
}
.poli {
  background: #faf8fb;
  position: relative;
  color: #5e606a;
  line-height: 22px;
  padding-bottom: 55px;
}
.poli .poli-text p:nth-child(2) {
  position: relative;
  z-index: 1;
  padding: 66px 0;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
}
.poli .poli-text :nth-child(3) {
  margin-bottom: 25px;
}
.poli .poli-text .poli-num {
  position: absolute;
  font-size: 180px;
  font-weight: bold;
  color: #fff;
  left: 50px;
  top: 90px;
  text-shadow: 0 0 20px #ece9ec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.poli .poli-photo img {
  width: 100%;
}
.poli .poli-inner {
  color: #000;
}
.poli .poli-inner p:nth-child(2) {
  font-size: 22px;
  margin-bottom: 22px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.poli .poli-inner .poli-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 20px 15px;
  outline: none;
}
.poli .poli-inner .poli-form .form-sub {
  background: #fb0275;
  color: #fff;
  border-radius: 30px;
  margin-top: 22px;
  font-size: 22px;
  padding: 9px;
}

@media only screen and (min-width: 768px) {
  .poli {
    padding-bottom: 77px;
  }
  .poli .poli-text {
    font-size: 17px;
    margin-bottom: 44px;
  }
  .poli .poli-text p:nth-child(2) {
    font-size: 31px;
    width: 60%;
  }
  .poli .poli-text .poli-num {
    top: 80px;
  }
  .poli .poli-photo {
    position: absolute;
    width: 420px;
    right: 0;
  }
  .poli .poli-inner {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .poli .poli-photo {
    right: 22vh;
  }
}
.pol-swiper {
  padding: 22px 0 66px 0;
  position: relative;
}
.pol-swiper-text {
  display: none;
  padding: 44px 0;
  width: 90%;
  margin: 0 auto;
  color: #7f38bd;
  font-weight: bold;
  font-size: 33px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.pol-swiper .pol {
  box-shadow: 0 0 5px 0 #cecaca;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 55px 10px;
}
.pol-swiper .pol img {
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}
.pol-swiper .pol .pol-text {
  line-height: 22px;
}
.pol-swiper .pol .pol-text p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
  margin-top: 44px;
}
.pol-swiper .pol .pol-text a {
  text-decoration: none;
  color: #50a2e2;
  font-weight: bold;
}
.pol-swiper .pol-prev {
  left: 27px;
  bottom: -22px;
  position: relative;
}
.pol-swiper .pol-next {
  bottom: -5px;
  left: 200px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .pol-swiper p {
    display: block;
  }
  .pol-swiper .pol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 64px;
  }
  .pol-swiper .pol img {
    flex-basis: 100px;
    margin: 0;
  }
  .pol-swiper .pol .pol-text {
    flex-basis: 66%;
    line-height: 18px;
  }
  .pol-swiper .pol .pol-text p:nth-child(2) {
    margin-top: 11px;
  }
  .pol-swiper .pol-prev {
    left: 44px;
    bottom: -22px;
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .pol-swiper .pol {
    width: 85%;
  }
  .pol-swiper .pol-prev {
    left: 77px;
  }
  .pol-swiper .pol-next {
    left: 222px;
  }
}
@media only screen and (min-width: 1440px) {
  .pol-swiper .pol {
    width: 95%;
  }
}
.faq {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 55px;
}
.faq .faq-cas {
  color: #7f38bd;
  font-size: 27px;
  font-weight: bold;
}
.faq .faq-inner {
  flex-basis: 100%;
  margin-bottom: 33px;
}
.faq .faq-inner .faq-text :nth-child(1) {
  margin: 22px 0;
  font-weight: bold;
  font-size: 20px;
}
.faq .faq-inner .faq-text :nth-child(2) {
  color: #5e606a;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .faq {
    padding-bottom: 88px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq .faq-log {
    display: flex;
    justify-content: space-between;
    margin: 33px 0;
  }
  .faq .faq-log .faq-inner {
    flex-basis: 48%;
  }
}
.faq-form {
  background: #7f38bd;
  padding: 44px 15px 45px 15px;
  border-radius: 10px;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 10px 22px 0 #5e606a;
}
.faq-form::before {
  content: "";
  position: absolute;
  background: url(../images/formCircle.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
  top: -44px;
  right: -60px;
}
.faq-form :nth-child(2) {
  font-size: 22px;
  width: 55%;
  margin-bottom: 22px;
}
.faq-form .form-input ::placeholder {
  color: #fff;
  font-size: 15px;
}
.faq-form .form-input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  width: 100%;
  margin-bottom: 22px;
}
.faq-form .form-input .form-sub {
  background: #fb0275;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 22px;
  padding: 11px;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .faq-form {
    background: url(../images/faqFormTab.png);
    background-size: 100% 100%;
    padding: 44px 44px 33px 44px;
    width: 100%;
  }
  .faq-form::before {
    right: -1px;
    width: 222px;
    height: 200px;
  }
  .faq-form .form-input {
    display: flex;
    gap: 22px;
  }
  .faq-form .form-input input {
    width: 188px;
  }
}
@media only screen and (min-width: 1024px) {
  .faq-form {
    padding: 55px 55px 44px 55px;
  }
  .faq-form .form-input .form-sub {
    width: 222px;
    margin: 0 0 22px 22px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-form {
    padding: 66px 66px 55px 333px;
    margin-bottom: 66px;
  }
  .faq-form::before {
    left: 22px;
    top: 15px;
    width: 262px;
    height: 242px;
  }
  .faq-form .form-input {
    gap: 33px;
  }
  .faq-form .form-input input {
    width: 222px;
  }
}
.ast {
  position: relative;
  display: flex;
  justify-content: center;
}
.ast .ast-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  position: absolute;
  top: 100px;
  padding: 33px 25px 33px 30px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 10px 20px 0 #cecaca;
}
.ast .ast-info p {
  margin-top: 11px;
}
.ast .ast-info p a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.ast .ast-info p a span {
  color: #000;
  font-size: 16px;
  font-weight: 100;
}
.ast .ast-info p a span img {
  margin-right: 11px;
}
.ast .ast-info p:nth-child(1) {
  color: #7f38bd;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 22px;
}
.ast .google-map {
  width: 100%;
  height: 555px;
  border: 0;
}

@media only screen and (min-width: 768px) {
  .ast {
    position: relative;
  }
  .ast::before {
    content: "";
    position: absolute;
    background: url(../images/lines.png);
    width: 11px;
    height: 150px;
    top: -72px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .ast .ast-info {
    width: 50%;
    left: 22px;
    padding: 55px 25px 66px 50px;
  }
  .ast .ast-info p:nth-child(1) {
    margin-bottom: 44px;
  }
}
@media only screen and (min-width: 1024px) {
  .ast .ast-info {
    left: 155px;
    width: 36%;
  }
}
@media only screen and (min-width: 1440px) {
  .ast .ast-info {
    left: 155px;
    padding: 66px 30px 88px 66px;
    width: 30%;
  }
}
.en {
  background: #65269d;
  text-align: center;
  padding: 55px 0;
  color: #c3aad9;
  font-size: 14px;
}
.en a {
  color: #c3aad9;
  text-decoration: none;
  font-size: 14px;
}
.en :nth-child(2) {
  margin-top: 33px;
}
.en p:nth-child(3) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .en {
    padding: 33px 0;
  }
  .en .en-pol {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .en .en-pol a {
    order: 2;
  }
  .en :nth-child(2) {
    margin: 0;
  }
  .en p:nth-child(3) {
    display: block;
    order: 2;
  }
}