.header {
    background: url(../images/headerBg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 850px;

    .header-inner {
        img {
            max-width: 100%;
            margin: 11px 0 33px 0;
        }
    }

    .header-icon {
        padding-top: 22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 19px;
            font-family: "MULLER";
        }
    }

    .header-text {
        color: #fff;

        :nth-child(1) {
            font-size: 39px;
            font-weight: bold;
            text-transform: uppercase;
            width: 70%;
        }

        :nth-child(2) {
            font-size: 22px;
            margin: 22px 0 44px 0;
        }
    }

    .header-info-block {
        text-align: center;

        a {
            background: #fb0275;
            text-decoration: none;
            color: #fff;
            border-radius: 62px;
            padding: 12px 70px;
            font-size: 22px;
        }

        p {
            padding: 33px 0;
            width: 60%;
            text-align: left;
            color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 666px;

        .header-inner {
            display: flex;

            img {
                flex-basis: 50%;
            }

            ::before {
                content: "";
                position: absolute;
                background: url(../images/headerBottom.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                bottom: 33px;
                right: 50%;
                width: 20px;
                height: 32px;
                transform: translateX(50%);
            }
        }

        .header-text {
            :nth-child(1) {
                width: 78%;
                margin-top: 33px;
            }
        }

        .header-info-block {
            a {
                padding: 12px 40px;
            }

            p {
                width: 75%;
                font-size: 18px;
            }
        }

        .header-info {
            height: 600px;
            width: 50%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        .header-icon {
            width: 80%;
            margin: 0 auto;
        }

        .header-inner {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        height: 888px;

        .header-icon {
            padding-top: 60px;

            img {
                display: none;
            }
        }

        .header-inner {
            margin: 66px auto 0 auto;
            gap: 55px;

            .header-text-inner {
                flex-basis: 50%;

                .header-text {
                    :nth-child(1) {
                        font-size: 66px;
                        width: 65%;
                    }

                    :nth-child(2) {
                        font-size: 30px;
                        font-weight: bold;
                        width: 80%;
                    }
                }

                .header-info-block {
                    display: flex;

                    a {
                        flex-basis: 50%;
                        height: 55px;
                        margin: 28px 15px 0 0;
                        width: 90px;
                    }

                    p {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}

#het {
    display: none;
}

#het:checked~.header-info {
    right: 0;
}

.header-info {
    position: absolute;
    width: 100%;
    top: 0;
    right: -100%;
    height: 550px;
    background: #fff;
    transition: 0.5s;
    text-align: center;

    ul {
        list-style: none;
        padding: 55px 0;
        line-height: 55px;
    }

    .header-x {
        position: absolute;
        right: 22px;
        top: 22px;
    }

    p {
        margin-bottom: 50px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        border-radius: 15px;
        border: 2px solid #fb0275;
        padding: 6px 20px;
        color: #fb0275;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1440px) {
    .header-info {
        position: static;
        display: flex;
        background: transparent;

        img {
            display: none;
        }

        ul {
            position: absolute;
            top: 10px;
            display: flex;
            left: 25%;
            top: -8px;
            gap: 44px;
            color: #fff;
        }

        a {
            position: absolute;
            top: 6.3%;
            right: 10%;
            color: #fff;
            border: 2px solid #fff;
        }

        p {
            position: absolute;
            top: 7%;
            right: 25%;
            color: #fff;
        }
    }
}

.head-block {
    padding: 55px 0;

    &:nth-child(1) {
        color: #7f38bd;
        font-size: 25px;
        font-weight: bold;
    }

    p:nth-child(2) {
        color: #000;
        font-size: 25px;
        font-weight: bold;
        margin-top: 22px;
    }

    .head-block-text {
        p {
            color: #5e606a;
            margin-top: 22px;
            font-size: 16px;
            font-weight: 100;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .head-block {
        width: 85%;
        margin: 0 auto;

        p:nth-child(2) {
            color: #000;
            font-size: 33px;
            font-weight: bold;
            margin-top: 22px;
        }

        .head-block-text {
            p {
                color: #5e606a;
                margin-top: 22px;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .head-gl {
        display: flex;
        margin-top: 77px;

        .head-block {
            flex-basis: 45%;
            order: 1;
            padding: 0;

            .head-block-text {
                p {
                    margin-top: 27px;
                }
            }
        }

        .sxema-inner {
            flex-basis: 48%;
            padding: 66px 0 0 0;
        }
    }
}

.sxema-inner {
    position: relative;
    max-width: 290px;
    text-align: center;
    padding: 66px 0;
    height: 711px;

    p {
        width: 120px;
        color: #5e606a;
    }

    .sxema-block {
        z-index: 2;
    }

    .sxema-block:nth-child(1) {
        position: absolute;
        top: 0;
        right: 88px;
    }

    .sxema-block:nth-child(2) {
        position: absolute;
        top: 175px;
        right: 0;
    }

    .sxema-block:nth-child(3) {
        position: absolute;
        top: 279px;
        left: 20px;
    }

    .sxema-block:nth-child(4) {
        position: absolute;
        top: 517px;
        left: 100px;
    }

    .sx-ml {
        position: absolute;
        left: 111px;
    }

    .sx-tl {
        display: none;
    }

    .sx-dl {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .sxema-inner {
        max-width: 720px;
        margin: 0 auto;
        height: 600px;

        p {
            width: 170px;
        }

        .sxema-block:nth-child(1) {
            position: absolute;
            top: 0;
            right: 390px;
        }

        .sxema-block:nth-child(2) {
            position: absolute;
            top: 100px;
            right: 10px;
        }

        .sxema-block:nth-child(3) {
            position: absolute;
            top: 190px;
            left: -25px;
        }

        .sxema-block:nth-child(4) {
            position: absolute;
            top: 322px;
            left: 350px;
        }

        .sx-ml {
            display: none;
        }

        .sx-tl {
            display: block;
            position: absolute;
            left: 100px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .sxema-inner {
        max-width: 720px;
        margin: 0 auto;
        height: 600px;

        p {
            width: 170px;
        }

        .sxema-block:nth-child(1) {
            position: absolute;
            top: 0;
            right: 250px;
        }

        .sxema-block:nth-child(2) {
            position: absolute;
            top: 135px;
            right: 35px;
        }

        .sxema-block:nth-child(3) {
            position: absolute;
            top: 180px;
            left: 22px;
        }

        .sxema-block:nth-child(4) {
            position: absolute;
            top: 322px;
            left: 250px;
        }

        .sx-ml {
            display: none;
        }

        .sx-tl {
            display: none;
        }

        .sx-dl {
            display: block;
            position: absolute;
            left: 150px;
        }
    }
}