.header {
    background: url(../images/headerBg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 850px;

    .header-inner {
        img {
            max-width: 100%;
            margin: 11px 0 33px 0;
        }
    }

    .header-icon {
        padding-top: 22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 19px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .header-text {
        color: #fff;

        :nth-child(1) {
            font-size: 39px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            width: 70%;
        }

        :nth-child(2) {
            font-size: 22px;
            margin: 22px 0 44px 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .header-info-block {
        text-align: center;

        a {
            background: #fb0275;
            text-decoration: none;
            color: #fff;
            border-radius: 62px;
            padding: 12px 70px;
            font-size: 22px;
        }

        p {
            padding: 33px 0;
            width: 60%;
            text-align: left;
            color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 600px;

        .header-inner {
            display: flex;

            img {
                flex-basis: 50%;
            }

            ::before {
                content: "";
                position: absolute;
                background: url(../images/headerBottom.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                bottom: 33px;
                right: 50%;
                z-index: 10;
                width: 20px;
                height: 32px;
                transform: translateX(50%);
            }
        }

        .header-text {
            :nth-child(1) {
                width: 78%;
                margin-top: 33px;
            }
        }

        .header-info-block {
            a {
                padding: 12px 50px;
            }

            p {
                width: 75%;
                font-size: 18px;
            }
        }

        .header-info {
            height: 600px;
            width: 50%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        .header-icon {
            width: 80%;
            margin: 0 auto;
        }

        .header-inner {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        height: 680px;
        .header-icon{
            padding-top: 60px;
            img{
                display: none;
            }
        }
        .header-inner{
            margin: 66px auto 0 auto;
            .header-text-inner{
                flex-basis: 50%;
                .header-text{
                    :nth-child(1){
                        font-size: 66px;
                        width: 62%;
                    }
                }
            }
        }
    }
}

#het {
    display: none;
}

#het:checked~.header-info {
    right: 0;
}

.header-info {
    position: absolute;
    width: 100%;
    top: 0;
    right: -100%;
    height: 550px;
    background: #fff;
    transition: 0.5s;
    text-align: center;

    ul {
        list-style: none;
        padding: 55px 0;
        line-height: 55px;
    }

    .header-x {
        position: absolute;
        right: 22px;
        top: 22px;
    }

    p {
        margin-bottom: 50px;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a {
        text-decoration: none;
        border-radius: 15px;
        border: 2px solid #fb0275;
        padding: 6px 20px;
        color: #fb0275;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1440px) {
    .header-info {
        position: static;
        display: flex;
        background: transparent;
        img{
            display: none;
        }

        ul {
            position: absolute;
            top: 10px;
            display: flex;
            left: 25%;
            top: -8px;
            gap: 44px;
            color: #fff;
        }
        a{
            position: absolute;
            top: 8.3%;
            right: 10%;
            color: #fff;
            border: 2px solid #fff;
        }
        p{
            position: absolute;
            top: 9.3%;
            right: 25%;
            color: #fff;
        }
    }
}