.uslug {
    background: #faf8fb;
    position: relative;
    padding-bottom: 155px;
    position: relative;


    .uslug-num {
        position: absolute;
        color: #faf8fb;
        text-shadow: 0 0 20px #ece9ec;
        font-size: 150px;
        top: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 50px;
    }

    .uslug-inner {
        font-weight: bold;

        :nth-child(1) {
            color: #7f38bd;
            font-size: 25px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        :nth-child(2) {
            font-size: 27px;
            margin: 44px 0;
            z-index: 3;
            position: relative;
            line-height: 33px;
        }

        .uslug-ul {
            li {
                color: #5e606a;
                line-height: 30px;
                margin: 0;
                font-size: 16px;
                list-style: none;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .uslug {
        padding: 55px 0;

        &::before {
            content: "";
            position: absolute;
            background: url(../images/lines.png);
            background-repeat: no-repeat;
            width: 100px;
            height: 200px;
            top: -66px;
            left: 50%;
        }

        .uslug-num {
            top: 77px;
        }

        .uslug-inner {
            :nth-child(2) {
                font-size: 40px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .uslug {
        width: 75%;
        margin: 0 auto;
    }
}

.flip-swiper {
    width: 100%;
    padding: 55px 0;

    .flip-slide {
        text-align: center;

        img {
            width: 90%;
        }
    }

    .card-prev {
        bottom: 10px;
        position: absolute;
        left: 50px;
    }

    .card-next {
        bottom: 10px;
        position: absolute;
        right: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .flip-swiper {
        .card-prev {
            z-index: 1;
            bottom: 135px;
        }

        .card-next {
            bottom: 135px;
            z-index: 1;
            right: 500px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .uslug {
        display: flex;
        gap: 113px;

        .flip-swiper {
            width: 60%;

            p {
                position: absolute;
                right: 140px;
                bottom: -40px;
            }

            .card-prev {
                z-index: 1;
                bottom: 10px;
            }

            .card-next {
                bottom: 10px;
                z-index: 1;
                right: 377px;
            }
        }
    }
}

.uslug-in {
    display: flex;
    flex-wrap: wrap;
    background: #883eca;
    width: 90%;
    bottom: 0;
    position: absolute;
    border-radius: 10px;
    justify-content: space-around;
    padding: 33px 0 25px 0;
    left: 20px;
    align-items: center;
    color: #fff;
    gap: 22px;

    .uslug-inn-text {
        width: 85%;
        margin: 0 auto;

        :nth-child(2) {
            font-weight: bold;
        }
    }

    a {
        background: #fb0275;
        text-decoration: none;
        color: #fff;
        padding: 10px 77px;
        border-radius: 15px
    }
}

@media only screen and (min-width: 768px) {
    .uslug-in {
        bottom: 32px;
        left: 39px;

        .uslug-inn-text {
            width: auto;
            display: flex;
            margin: 0;
            gap: 30px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .uslug-in {
        width: 444px;
        left: 0;
        padding: 33px 0;

        .uslug-inn-text {
            display: block;
            width: 45%;
        }

        a {
            width: 35%;
            padding: 10px 40px;
        }
    }
}

.inter {
    padding: 77px 0;
    position: relative;
    height: 850px;

    .inter-num {
        position: absolute;
        font-size: 150px;
        text-shadow: 0 0 10px #ece9ec;
        top: 22px;
        left: 44px;
        color: #fff;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .inter-inner {
        :nth-child(1) {
            margin: 22px 0;
            font-weight: bold;
            font-size: 27px;
            z-index: 1;
            position: relative;
        }

        :nth-child(2) {
            color: #5e606a;
            margin: 50px 0 55px 0;
            line-height: 22px;
        }

        a {
            text-decoration: none;
            background: #fb0275;
            color: #fff;
            padding: 15px 70px;
            border-radius: 22px;
            z-index: 1;
            position: relative;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .inter-photo {
        position: absolute;
        right: 0;
        bottom: 111px;

        .in-d2 {
            display: none;
        }

        .in-d3 {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .inter {
        &::before {
            content: "";
            position: absolute;
            background: url(../images/lines.png);
            background-repeat: no-repeat;
            width: 15px;
            height: 130px;
            left: 50%;
            top: 10px;
        }

        padding: 130px 0;

        .inter-inner {
            width: 70%;

            :nth-child(1) {
                font-size: 35px;
            }

            a {
                padding: 15px 44px;
                display: inline-block;
            }
        }

        .inter-photo {
            bottom: 55px;

            .in-d2 {
                display: block;
            }

            .in-d1 {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .inter {
        .inter-inner {
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .inter {
        margin-bottom: 100px;

        .inter-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin: 0 0 0 auto;

            :nth-child(1) {
                width: 70%;
            }

            :nth-child(2) {
                width: 69%;
            }

            a {
                padding: 15px 40px;
                position: absolute;
                bottom: 400px;
                left: 50%;
            }
        }

        .inter-photo {
            bottom: -55px;
            left: -100px;

            .in-d3 {
                display: block;
            }

            .in-d2 {
                display: none;
            }
        }
    }
}

.poli {
    background: #faf8fb;
    position: relative;
    color: #5e606a;
    line-height: 22px;
    padding-bottom: 55px;

    .poli-text {
        p:nth-child(2) {
            position: relative;
            z-index: 1;
            padding: 66px 0;
            font-size: 26px;
            font-weight: bold;
            color: #000;
            line-height: 30px;
        }

        :nth-child(3) {
            margin-bottom: 25px;
        }

        .poli-num {
            position: absolute;
            font-size: 180px;
            font-weight: bold;
            color: #fff;
            left: 50px;
            top: 90px;
            text-shadow: 0 0 20px #ece9ec;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .poli-photo {
        img {
            width: 100%;
        }
    }

    .poli-inner {
        color: #000;

        p:nth-child(2) {
            font-size: 22px;
            margin-bottom: 22px;
            font-weight: 500;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .poli-form {

            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #cccccc;
                padding: 20px 15px;
                outline: none;
            }

            .form-sub {
                background: #fb0275;
                color: #fff;
                border-radius: 30px;
                margin-top: 22px;
                font-size: 22px;
                padding: 9px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .poli {
        padding-bottom: 77px;

        .poli-text {
            font-size: 17px;
            margin-bottom: 44px;

            p:nth-child(2) {
                font-size: 31px;
                width: 60%;
            }

            .poli-num {
                top: 80px;
            }
        }

        .poli-photo {
            position: absolute;
            width: 420px;
            right: 0;
        }

        .poli-inner {
            width: 40%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .poli {
        .poli-photo {
            right: 22vh;
        }
    }
}