@import "mixin";

@include fontFamily(MULLER, "../fonts/muller/MullerBold");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    overflow: hidden;
    font-family: MULLER;
}

.container {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@import "head";

@import "taw";

@import "footer";